@page
@model Library_Managment_System_ASP.NET_API.Pages.Book.IndexModel
@{
    ViewData["Title"] = "Library";
}


<link rel="stylesheet" href="~/css/StyleHomePage.css"/>
<link rel="stylesheet" href="~/css/Animations.css"/>
<div class="container mt-5">
    <div class="jumbotron">
        <h1>Welcome to Your Book Library!</h1>
        <p>Manage your books easily. Add, delete, or modify book details below.</p>
    </div>

    <!-- List of Books -->
    <h2>Book List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Book Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Published</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.bookList)
            {
                <tr>
                    <td>@book.BookId</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Published</td>
                    <td>@book.Genre</td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="BookId" value="@book.BookId" />
                            <button type="submit" class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@book.BookId">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Add Book -->
    <h2>Add New Book</h2>
    <form method="post">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="Title" required>
        </div>
        <div class="form-group">
            <label for="author">Author:</label>
            <input type="text" class="form-control" id="author" name="Author" required>
        </div>
        <div class="form-group">
            <label for="published">Published:</label>
            <input type="number" class="form-control" id="published" name="Published" required>
        </div>
        <div class="form-group">
            <label for="genre">Genre:</label>
            <input type="text" class="form-control" id="genre" name="Genre" required>
        </div>
        <div class="form-group">
            <h2>Search Book By ID</h2>
            <label for="BookId">Book to Update:</label>
            <input type="number" name="BookId" class="form-control" id="BookId" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Add Book</button>
            <button type="submit" class="btn btn-secondary" asp-page-handler="EditBook">Edit Book</button>
        </div>

    </form>

</div>